#prev {
    /* left: 0; */
    left: 16.6666666667%;
}

#next {
    right: 0;
}

.arrow {
    position: fixed;
    top: 50%;
    margin-top: -32px;
    font-size: 80px;
    /* color: #E2E2E2; */
    color: rgb(240, 180, 60);
    /* color: rgb(105, 105, 105); */
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
}

.navlink {
    margin: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ccc;
}

.arrow:hover, .navlink:hover {
    /*cuando se señala con el cursor*/
    color: rgb(240, 180, 60);
    /* color: red; */
}

.arrow:active, .navlink:hover {
    color: #000;
    /* color: blue; */
}

#navigation ul li a {
    color: #ccc;
    text-decoration: none;
}

#navigation ul li a:hover {
    color: #fff;
    /* text-decoration: underline; */
    text-decoration: none;
}

.anotaciones {
    overflow-y: scroll;
    max-height: 1000px;
}

.informacion {
    overflow-y: scroll;
    max-height: 1000px;
}

.tablaresaltado {
    overflow-y: scroll;
    max-height: 500px;
}

body::-webkit-scrollbar {
    width: 5px;
    background: rgb(50, 50, 50);
}

body::-webkit-scrollbar-thumb {
    background: rgb(240, 180, 60);
}

/* Hide scrollbar for Chrome, Safari and Opera */

#toc::-webkit-scrollbar {
    display: none;
}

.anotaciones::-webkit-scrollbar {
    display: none;
}

.informacion::-webkit-scrollbar {
    display: none;
}

.tablaresaltado::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

#toc::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.anotaciones {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.informacion {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tablaresaltado {
    -ms-overflow-style: none;
    scrollbar-width: none;
}